/*
@see https://meyerweb.com/eric/css/inline-format.html
@see http://book.mixu.net/css/1-positioning.html#vertical-align-middle-doesn-t-quite-do-what-you-d-expect
*/

main:after {
  content: "";
  color: #333;
  display: block;
  margin: 2em;
  white-space: pre;
}

li:nth-child(1) ~ li {
  display: none;
}

ul {
  height: 5em;
  text-align: center;
}

ul:after {
  content: "";
  display: inline-block;
  width: 0.5em;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  vertical-align: middle;
}

li {
  line-height: initial;
  display: inline-block;
}

li:nth-child(1) {
  vertical-align: middle;
}