/* Button */
.button {
  border: 1px solid var(--color-surface);
  display: inline-block;
  padding: var(--space);
  border-radius: var(--radius);
  transition: var(--transition-color);
}

a.button:hover {
  text-decoration: none;
}

.button:hover {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}


/* Menu */
ul.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu li:not(:last-child) {
  margin-right: var(--space-small);
}


/* Info */
.info section:not(:last-child) {
  margin-right: var(--space);
}

.info section {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 300px;
}

.info h4 {
  margin-top: var(--space-small);
  margin-bottom: 0;
}

.info p {
  margin-top: 0;
}

.info {
  align-items: stretch;
  padding-bottom: var(--space-large);
}


/* Header */
header.page-section {
  padding-top: 0;
  align-items: flex-end;
}

header h1 {
  line-height: 1;
  border-top: 4px solid var(--color-primary);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: var(--space-absolute);
  max-width: 250px;
  letter-spacing: calc(var(--space)/10);
}


/* Main */
main.page-section {
  padding-bottom: var(--space-large);
}

main h2 {
  margin-top: 0;
  margin-bottom: 0;
}

main p {
  margin-top: 0;
  max-width: 90%;
}