:root {
  --space: 1em;
  --space-absolute: 16px;
  --space-large: calc(var(--space)*2.25);
  --space-small: calc(var(--space)*0.8);

  --column-width: 800px;
  --radius: 4px;
  --transition-color:
    color .2s linear,
    background-color .2s linear,
    border-color .2s linear;

  --text-size--xlarge: 2.4rem;
  --text-size--large: 1.8rem;
  --text-size--normal: 1.2rem;
  --text-size--small: 0.8125rem;
  --text-size--xsmall: 0.7rem;
}