body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    border-top: 5px solid;
    border-right: 5px solid;
animation: rotateloader 2s infinite;
width: 50px;
height: 50px;
border-radius: 50px;
}

@keyframes rotateloader {
    0% {transform: rotate(0) scale(0.5); color: yellow;}

    50% {transform: rotate(180deg) scale(2); color: blue;}
    100% {transform: rotate(360deg) scale(0.5); color: yellow;}


}