$conditions: (
  sn: red,
  sl: green,
  h: blue,
  t: orchid,
  hr: hotpink,
  lr: lightgreen,
  s: lightgray,
  hc: rebeccapurple,
  lc: lightblue,
  c: lightyellow
);

td {
  padding: space(1/2);
  margin: var(--space);
}

@each $condition in map-keys($conditions) {
  .Weather--#{$condition} {
    background-color: map-get($map: $conditions, $key: $condition);
  }
}