$conditions: (
  sn: red,
  sl: green,
  h: blue,
  t: orchid,
  hr: hotpink,
  lr: lightgray,
  s: gray,
  hc: rebeccapurple,
  lc: lightblue,
  c: lightyellow
);

@each $condition in map-keys($conditions) {
  .Weather--#{$condition} {
    background-color: map-get($conditions, $condition);
  }
}

td {
  padding: space(1/2);
}