html, body, .page-wrapper {
  height: 100%;
}

body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  color: lightgreen;
}

h1, h2, h3, a {
  color: lime;
  transition: color .2s linear;
}

a:hover {
  color: aqua;
}

p {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%;
  padding: 16px;
  transition:
    border-radius 0.3s ease,
    background-color 0.3s ease;
}

p:hover {
  background-color: aquamarine;
  color: darkslateblue;
  border-radius: 6px;
  transition:
    border-radius 0.5s ease,
    background-color 0.5s ease;
}

p:hover a,
p:hover a:hover {
  color: inherit;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.page-wrapper > * {
  width: 30%;
}

.main {order: -1;}


.extra1,
.extra2,
.extra3,
.extra4 {
  width: 200px;
  height: 200px;
  position: absolute;
  background-image: url(./alien.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  filter: invert(1);
}

.extra1 {
  right: 50px;
  top: 500px;
}
.extra2 {
  right: 100px;
  top: 800px;
}
.extra3 {
  right: 400px;
  top: 1000px;
}
.extra4 {
  right: 200px;
  top: 1300px;
}