:root {
  --text-center: {
    text-align: center;
  }

  --text-upper: {
    text-transform: uppercase;
  }

  --text-underline: {
    text-decoration: underline;
  }
}

.text-center {
  @apply --text-center;
}

.text-upper {
  @apply --text-upper;
}

.text-underline {
  @apply --text-underline;
}
