:root {
  --space: 1em;
  --space-small: calc(var(--space) * 0.5);
  --space-xsmall: calc(var(--space) * 0.25);
  --c-background: #f0f0f0;
  --c-primary: hsl(0deg 24% 77%);
  --c-primary-variant: hsl(152deg 24% 77%);
  --c-item: #fff;
  --c-on-item: #666;
  --c-on-item-dimmed: #aaa;
  --c-line: #f6f6f6;
  --fw-thin: 100;
  --fs-medium: 1.2em;
  --fs-small: 0.8em;
  --shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  --radius: 0.2em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-background: #222527;
    --c-primary: hsl(0deg 60% 77%);
    --c-primary-variant: hsl(152deg 60% 77%);
    --c-item: #333;
    --c-on-item: #e0e0e0;
    --c-on-item-dimmed: #b0b0b0;
    --c-line: #454545;
    --shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  }
}

body {
  font-family: sans-serif;
  font-size: var(--fs-medium);
  background-color: var(--c-background);
  margin: 0;
}
* {
  /* border: 1px solid; */
}
h1 {
  font-weight: var(--fw-thin);
  font-size: 3em;
  text-transform: lowercase;
  text-align: center;
  color: var(--c-primary);
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
}
.column {
  max-width: 80%;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-gapRight--small > *:not(:last-child) {
  margin-right: var(--space-small);
}
.flex-alignSelf--right {
  margin-left: auto;
}
.flex-justify--between {
  justify-content: space-between;
}
.text-small {
  font-size: var(--fs-small);
}
.text-decoration\:hover {
  text-decoration: none;
}
.text-decoration\:hover:hover {
  text-decoration: underline;
}
.text-decoration\:hover:focus {
  outline: none;
}
main {
  box-shadow: var(--shadow);
}
.TodoInput {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
}
.TodoInput:focus {
  outline: none;
}
.TodoInput::placeholder {
  font-style: italic;
  color: var(--c-on-item-dimmed);
}
.Item {
  font-weight: var(--fw-thin);
  background-color: var(--c-item);
  color: var(--c-on-item);
  padding: var(--space);
  padding-left: calc(var(--space) * 3);
  border-bottom: 1px solid var(--c-line);
}
.Item--full {
  padding-left: var(--space);
}
.List {
  box-shadow: var(--shadow);
  position: relative;
  z-index: 1;
}
.Item [type='checkbox'] {
  margin: 0;
  padding: 0;
  appearance: none;
  display: inline-block;
  width: 1.66em;
  height: 1.66em;
  border-radius: 50%;
  border: 1px solid var(--c-on-item-dimmed);
  vertical-align: middle;
  margin-right: var(--space);
  position: absolute;
  left: var(--space);
  will-change: transition;
  transition:
    background-color .2s ease-out,
    border-color .2s ease-out;
}
.Item [type='checkbox']:focus,
.Item [type='checkbox']:checked:focus {
  outline: none;
  border-color: var(--c-on-item);
}
.Item [type='checkbox']:checked {
  background-color: var(--c-primary-variant);
  transition:
    background-color .2s ease-in,
    border-color .2s ease-in;
  border-color: transparent;
}
.Item label {
  cursor: text;
  box-sizing: border-box;
  text-decoration: none;
  will-change: transition;
  transition:
    text-decoration .2s ease-out,
    color .2s ease-out;
}
.Item label:focus {
  outline: none;
}
.Item label:focus-visible {
  outline: 1px solid var(--c-on-item);
  outline-offset: 3px;
}
.Item :checked ~ label {
  text-decoration: line-through;
  color: var(--c-on-item-dimmed);
  transition:
    text-decoration .2s ease-in,
    color .2s ease-in;
}
.Item-remove {
  color: var(--c-primary);
  background-color: transparent;
  border: 1px solid transparent;
  padding-left: var(--space);
  transition: filter .2s ease-out;
  font-size: 1.5em;
  position: absolute;
  right: var(--space);
  display: none;
}
.Item:hover .Item-remove {
  display: block;
}
.Item-remove:focus {
  outline: none;
}
.Item-remove:hover {
  filter: saturate(3);
}
.Tab {
  text-decoration: none;
  border: 1px solid transparent;
  padding: var(--space-xsmall);
  border-radius: var(--radius);
}
/* .Tab:target, */
.Tab.is-selected {
  border-color: var(--c-primary);
}