body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav a {
  text-decoration: none;
}

nav * {
  /* border: 1px solid; */
}

nav ul {
  background-color: gold;
}

nav > ul {
  display: flex;
}

nav ul ul {
  position: absolute;
  display: none;
}

nav li:hover ul,
nav li:focus-within ul {
  display: block;
}

nav a {
  padding: 1em;
  display: block;
}

nav a:hover,
nav a:focus {
  background-color: lightpink;
  outline: 0;
}

main {
  padding: 1em;
}