main:after {
  content: "html, body { height: 100%; } \A main { height: 100%; }";
  color: #333;
  display: block;
  margin: 2em;
  white-space: pre;
}

main {
  background-color: lightgoldenrodyellow;
}

li {
  display: inline-block;
}

html, body {
  height: 100%;
}

main {
  height: 100%;
}