@import './variables.scss';

:root {
    --chatbox-height: 300px;
    --circle-size: 5px;
}
.chat-box {
    border: 1px solid;
    position: fixed;
    bottom: 0;
    width: 25%;
     min-height: 10px; 
    transition: min-height 1s;
    display: flex;
    flex-direction: column;
    div {
        display: flex;
        flex-direction: row;
        gap: calc(var(--circle-size)/2); 
        &:hover{
            .chatbox-round-div{
                animation: circle-animation-translate 1s infinite;
            }
        }  
    }
}


// .chat-box div:hover .chatbox-round-div{
//     animation: circle-animation-translate 1s infinite;
// }

@mixin animation-delay {
    @for $index from 1 to 3 {
        .chat-box div:hover .chatbox-round-div:nth-child(#{$index}) {
            animation-delay: 250ms;
        }
    }    
}

@include animation-delay();

// .chat-box div:hover .chatbox-round-div:nth-child(1) {
//     animation-delay: 250ms;
// }
// .chat-box div:hover .chatbox-round-div:nth-child(2) {
//     animation-delay: 500ms;
// }
// .chat-box div:hover .chatbox-round-div:nth-child(3) {
//     animation-delay: 750ms;
// }
.chatbox-round-div {
    background-color: black;
    border: solid 1px;
    border-radius: 50%;
    height: var(--circle-size);
    width: var(--circle-size);
    align-self: center;
}


@keyframes circle-animation {
    0% {transform: scale(0.5);}
    50% {transform: scale(1);}
    100% {transform: scale(0.5);}
}

@keyframes circle-animation-translate {
    0% {transform: translate(0, 0);}
    50% {transform: translate(0, var(--circle-size));}
    100% {transform: translate(0, 0);}
}

