:root {
  --c-background: #333;
  --c-on-background: #f0f0f0;

  --c-surface: #222;
  --c-on-surface: #f0f0f0;

  --c-primary: #797BED;

  --space-medium: 1em;
  --space-large: 2em;

  --radius: 0.5em;
}

body {
  font-family: sans-serif;
  background-color: var(--c-background);
  color: var(--c-on-background);
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.u-p-large {
  padding: var(--space-large);
}

.List {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--space-medium);
}

.Product {
  background-color: var(--c-surface);
  color: var(--c-on-surface);
  padding: var(--space-medium);
  border-radius: var(--radius);
  text-align: center;
}

.Product img {
  max-height: 150px;
}

.Product.is-selected {
  border: 2px solid var(--c-primary);
}