body {
  font-family: sans-serif;
}

body.is-modal-open {
  overflow: hidden;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity .2s ease-in;
}

.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s ease-out;
}

.modal * {
  /* border: 1px solid; */
}

.modal-window {
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);

  padding: 1em;
  max-width: 600px;
  width: 70%;
  max-height: 70%;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.modal .modal-window {
  transform: scale(1);
  transition: transform .2s linear;
}

.modal.is-hidden .modal-window {
  transform: scale(0);
  transition: transform .2s linear;
}

@media (max-width: 520px) {
  .modal-window {
    width: 80%;
    max-height: 90%;
  }
}

.modal-content {
  overflow: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.modal-buttons {
  align-self: stretch;
  text-align: right;
}

.modal-close {
  background-color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}